.side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.side h1{
    font-size: 38px;
}
.button-nav{
    display: flex;
    gap: 22px;
    align-items: center;
}
.button-nav .filter-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sort-button{
    max-width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
.select-arrow-3 {
    position: absolute;
    border: 8px solid transparent; 
    border-bottom: 0;
    right: 16px;
  }
/* .cheap-dear{
    width: 300px;
} */

.filter-button{
    background: white;
    border-radius: 8px;
    display: flex;
    width: 100%;
    height: 40px;
    color: black;
    padding: 7px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}


/*  //////////////////////////////////////////////////////  */

.filter{
    position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	padding: 100px 20px 0px 20px;
    background: #FF7A00;
	transform: translateX(-350px);
	transition: transform 0.5s; 
    color: black;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 2;
}
.filter.active {
	transition: all 0.699s ease-out;
	transform: translateX(0);
}
.filter-items{
    display: flex;
    gap: 20px;
}
.filter-price-input{
    max-width: 100px;
    border-radius: 30px;
    border: none;
    padding: 8px 0px 8px 10px;
}

@media screen and (max-width: 768px){
    .side{
        display: flex;
        flex-direction: column;
    }
    /* .sort-button{
        width: 220px;
        font-size: 14px;
    } */
    .button-nav{
        display: flex;
        flex-direction: column;
    }
    .filter-button{
        cursor: none;
    }
    .filter{
        width: 200px;
    }
    .filter-price-input{
        width: 65px;
    }
    .cheap-dear{
        width: 200px;
    }
    .dear-cheap{
        width: 200px;
    }
}

.filter-button-container{
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(4, 35px);
}
/* .filter-button-container button.active{
    border: 2px solid black;
} */
.filter button{
    display: flex;
    border-radius: 50%;
    border: none;
    width: 20px;
    height: 20px;
}

.filter-items input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
    position: relative;
  }
  
  .filter-items input[type="checkbox"]::before {
    content: '\2713'; /* Unicode для галочки */
    font-size: 22px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    padding-bottom: 8px;
  }
  
  .filter-items input[type="checkbox"]:checked::before {
    opacity: 1;
  }
  @media screen and (max-width: 768px){
    .filter{
        overflow-y: auto; /* Додаємо прокрутку по вертикалі */
        width: 200px;
        height: 100%; /* Змінюємо висоту, щоб вона відповідала екрану пристрою */
    }
    .filter-items{
        display: flex;
        gap: 8px;
    }
    .filter-button{
        cursor: none;

    }
    .button-nav{
        display: flex;
    /* flex-direction: row;
    align-items: flex-end;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px; */
    }
    /* Інші ваші стилі для мобільних пристроїв ... */
}