.category-product{
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    gap: 30px;
    justify-content: center;
    padding: 20px;
    justify-content: center;
    justify-items: center;
}